

<div class="container">
  <div *ngIf="loadingImg else data">
    <img src="assets/images/loading.gif" class="img-fluid vh-100" alt="">
  </div>

  <ng-template #data>
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4" *ngFor="let product of products">
        <div class="card">
          <img src="{{product.image}}" alt="">
          <div class="card-body">
            <h2>{{product._id}}</h2>
            <h2>{{product.name}}</h2>
            <h3>{{product.price}}$</h3>
            <p>{{product.category}}</p>

            <button class="btn btn-primary" routerLink="/singleProduct/{{product._id}}">Show Product</button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </ng-template>
</div>
